body {
    margin: 0;
    background-color: #333333;
}

#container {
    padding: 20px;
}

table {
    width: 60%;
    margin: 50px auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #b90504;
}

caption {
    font-family: 'bold';
    font-size: 20px;
    color: #e8e8e8;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

th, td {
    font-family: 'regular';
    font-size: 15px;
}

th {
    border-bottom: 2px solid #b90504;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

tbody tr:hover {
    background-color: #e4f1fe;
    cursor: pointer;
}

td {
    padding: 5px;
}

td:first-of-type, th:first-of-type {
    text-align: left;
    padding-left: 20px;
}
  
td:last-of-type, th:last-of-type {
    text-align: right;
    padding-right: 20px;
}
  
#products-mobile {
    display: none;
}